<h1>test1</h1>
<h1>{{title}}</h1>
<!-- <app-pictures [picture]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQZ4ZKdwXKPuSBX5F38i8c1v67PE_-hAOdnAluz7HDKkg_D3F6'"></app-pictures>
<app-pictures [picture]="'https://www.wikihow.com/images/b/ba/Draw-Spider-Man-Step-11-Version-2.jpg'"></app-pictures>
<app-pictures [picture]="'http://media.comicbook.com/2018/01/spider-man-logos-comicbookcom-1078523-1280x0.jpeg'"></app-pictures> -->

<app-pictures *ngFor="let p of pictures"
[picture]="p"></app-pictures>